/*---- Menu-Nav * ---- */

/*---- Imagen Menu * ---- */

.header-area .main-nav .logo img {
    max-height: 50px !important; /* ajusta el tamaño que quieras */
    width: 100% !important;      /* mantiene proporción */
    height: auto !important;
    display: block !important;
    margin-top: 20px !important;
}

/*---- Nav Menu * ---- */

.header-area .main-nav .nav li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* grosor de la línea */
    left: 0;
    bottom: 0;
    background-color: #000; /* línea negra */
    transition: width 0.3s ease;
}

.header-area .main-nav .nav li a:hover::after,
.header-area .main-nav .nav li a.active::after {
    width: 100%;
}


.header-area {
    overflow-x: hidden;  /* corta cualquier exceso horizontal */
}

/* Ajuste de nav principal */
.header-area .main-nav {
    max-width: 100%;
    overflow: hidden;    /* evita scroll horizontal interno */
}

/* Para los submenús */
.header-area .main-nav .nav li.submenu ul {
    max-width: 200px;     /* aseguramos que no se salga */
    left: auto;            /* ajusta posición si es necesario */
    right: 0;              /* que no sobresalga del contenedor */
}




